
#pickacard {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 325;
}

#aboutmetext {
    border: #6c757d 4px solid;
    border-radius: 30px;
    text-align: center;
    

}

#aboutmetext h2 {
    margin: 20px;
    text-align: center;
}